.navbar {
  height: 50px;
  background-color: #ebebeb;
  font-family: var(--primary-font);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.navbar a {
  display: inline-block;
  text-decoration: underline;
  color: black;
}

.navbar a:visited {
  color: black;
}
