.navbar {
  height: 50px;
  background-color: #ebebeb;
  font-family: var(--primary-font);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.navbar a {
  text-decoration: none;
  background-color: black;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  color: white;
}

.navbar a:visited {
  color: white;
}

.admin-tag {
  margin-left: auto;
  background-color: lightgreen;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  color: green;
}
