.reset-section {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
}

.header {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.input {
  width: 10rem;
  font-family: var(--primary-font);
  margin: 0.2rem 0 0.7rem 0;
  padding: 0.2rem;
  border: 1px solid lightgray;
}

.submitBtn {
  font-family: var(--primary-font);
  padding: 0.2rem;
  border: 0;
  background-color: black;
  color: white;
  cursor: pointer;
}

.new-password-fields {
  display: flex;
  flex-direction: column;
  max-width: min-content;
}

.error {
  color: red;
  font-size: 0.75rem;
}

.success {
  color: green;
  font-size: 0.75rem;
}
